/* load fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    background-color: #F5F5F5;
    color: #050505;
    font-family: 'Roboto';
    width: 960px;
    margin: 0 auto; /*center the page*/
}

/* p {
    margin: 0px;
} */

h1 {
    color: #fff;
    font-family: 'Black Han Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 42px;
    margin: 0px;
}

h2 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    color: #142889;
    margin-bottom: 0;
}

h3 {
    color: #f655ab;
    margin-bottom: 0;
}

h4 {
    color:#55abf6;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}

.intro {
    padding: 10px;
    line-height: normal;

}

b {
    color: #55abf6;
}

a {
    text-transform: uppercase;
    margin-right: 5px;
    padding: 10px;
    color: #abf655;
    font-weight: 200, sans-serif;
}

.left-column {
    /* padding-bottom:40px; */
    position: sticky;
    top: 0;
        background-color: #142889;
    color: white;
    height: auto;
}
.right-column {
    padding: 50px;
    margin-bottom: 300px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* margin: 50px; */
    align-items: start;
}

.button {
    color: #ffffff;
    background-color: #abf655;
    padding: 5px;
    border: transparent;
    text-decoration: none;
}

.button:hover{
    background-color: transparent;
    color: #abf655;
    border: solid 2px #abf655;
}

.organisation {
    font-weight: 400;
}

.date {
    font-family: 'Roboto Condensed';
    margin-top: 0;
    margin-bottom: 0;
    color: grey;
}